<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Jordan Shoes</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel = "stylesheet" type = "text/css" href="css/custom.css">
</head>
<h1></h1>
<div class="left">Jordans</div>

<div class= "home1">
<a href="index.html">Home</a>
</div>
<body>
<div class="holder">
		<form action="#" th:action="@{/shoe}" th:object="${shoe}" method="post">
		
		<div class="shoes">
		<h2>Type the number Jordan you want and <br>enter your shoe size to win! </h2>
		<div class="guess">
		<p>Jordan#?: <input type="text" th:field="*{num}" /></p>
		<p>What is your shoe size?: <input type="text" th:field="*{size}" /></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		
		</div>
		</div>
		<div class = "j1-">Jordan1</div> <div class = "j2-">Jordan2</div><div class = "j3-">Jordan3</div><div class = "j4-">Jordan4</div>
		<div class = "j5-">Jordan5</div><div class = "j6-">Jordan6</div><div class = "j7-">Jordan7</div><div class = "j8-">Jordan8</div>
		<div class = "j9-">Jordan9</div><div class = "j10-">Jordan10</div><div class = "j11-">Jordan11</div><div class = "j12-">Jordan12</div>
		<div class = "j13-">Jordan13</div>
		<img Name="Jordan1" src="image/Jordan1.jpg" height="100"  width="150" id="j1">
		<img Name="Jordan2" src="image/Jordan2.jpg" height="100"  width="150" id="j2">
		<img Name="Jordan3" src="image/Jordan3.jpg" height="100"  width="150" id="j3">
		<img Name="Jordan4" src="image/Jordan4.jpg" height="100"  width="150" id="j4">
		<img Name="Jordan5" src="image/Jordan5.jpg" height="100"  width="150" id="j5">
		<img Name="Jordan6" src="image/Jordan6.jpg" height="100"  width="150" id="j6">
		<img Name="Jordan7" src="image/Jordan7.jpg" height="100"  width="150" id="j7">
		<img Name="Jordan8" src="image/Jordan8.jpg" height="100"  width="150" id="j8">
		<img Name="Jordan9" src="image/Jordan9.jpg" height="100"  width="150" id="j9">
		<img Name="Jordan10" src="image/Jordan10.jpg" height="100"  width="150" id="j10">
		<img Name="Jordan11" src="image/Jordan11.jpg" height="100"  width="150" id="j11">
		<img Name="Jordan12" src="image/Jordan12.jpg" height="100"  width="150" id="j12">
		<img Name="Jordan13" src="image/Jordan13.jpg" height="100"  width="150" id="j13">		
		</form>
</div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="backB">
<a href="fly.html">Back</a>
</div>
</html>